PORT=3000
NODE_ENV=development

ACCESS_TOKEN_SECRET=XXXX
REFRESH_TOKEN_SECRET=XXXX
ACCESS_TOKEN_EXPIRY=900
OTP_CODE_EXPIRY=900
REFRESH_TOKEN_EXPIRY=2592000
RESET_TOKEN_SECRET=XXXX
RESET_TOKEN_EXPIRY=300

EMAIL_HOST=XXXX
EMAIL_PORT=XXXX
EMAIL_USERNAME=XXXX
EMAIL_PASSWORD=XXXX
EMAIL_FROM=XXXX

CLOUDINARY_CLOUD_NAME=XXXX
CLOUDINARY_API_KEY=XXXX
CLOUDINARY_API_SECRET=XXXX